# EmailJS Configuration
# Get these values from your EmailJS Dashboard (https://dashboard.emailjs.com/)

VITE_EMAILJS_SERVICE_ID=service_40ukfc4
VITE_EMAILJS_TEMPLATE_ID=template_wa3c5tv
VITE_EMAILJS_PUBLIC_KEY=z7j-sCDLwP6lAoeqw
